<%= image_tag("#{@product.img_url}", :height => "400", class: "product_img") %>
<h3 class="left_padding">Product Name: <%= @product.name %></h3><br>
<p class="left_padding">Description: <%= @product.description %></p><br>
